.toobar {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

    .save, .load, .preview {
        margin: 5px;
    }

    .input {
        display: none;
    }
}

.editor, .viewer {
    height: 100%;
}