.toobar {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

    button {
        margin: 5px;
    }

    .input {
        display: none;
    }
}

.editor, .viewer {
    height: 100%;
}

button {
    background-color: #167abe;
    border: none;
    color: white;
    padding: 5px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 4px 2px;
    cursor: pointer;
}

button:disabled {
    background-color: #808080;
}